[Desktop Entry]
Type=Application
Name=ranger-async
Comment=Launches the ranger-async file manager
Icon=utilities-terminal
Terminal=true
Exec=ranger-async
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
Keywords=File;Manager;Browser;Explorer;Launcher;Vi;Vim;Python
